@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: unset;
    color: inherit;
    border: unset;
    border-radius: unset;
    outline: unset;
    padding: unset;
    margin: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: unset;
    font-weight: unset;
}

h1 {
    font-size: 3.2rem;
}

h2,
h3 {
    font-weight: bold;
}

h4,
h5,
h6 {
    font-style: italic;
}

small {
    font-size: 1.2rem;
    color: var(--color-text-secondary);
}

button,
a {
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: unset;
}