.queue-items {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.queue-items>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}